

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

font-smoothing() {
    if current-property {
      -webkit-{current-property}: arguments
      if arguments == antialiased {
        -moz-osx-{current-property}: grayscale
      } else if arguments == subpixel-antialiased {
        -moz-osx-{current-property}: auto
      }
      {current-property}: arguments
    } else {
      error('font-smoothing() must be used within a property');
    }
}
