html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline-offset: 0;
}
:root {
  --main-color: #f6f6f6;
  --dark-color: #e8eaeb;
  --font-size: 22px;
  --line-height: 35px;
  --dark-font-color: #555656;
  --border-radius-size: 20px;
}
body {
  color: var(--dark-font-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  letter-spacing: 0.075em;
  background-color: var(--main-color);
}
@media (max-width: 640px) {
  body {
    color: #f00 !important;
  }
}
@media (max-width: 800px) {
  body {
    color: #008000 !important;
  }
}
@media (max-width: 1200px) {
  body {
    color: #00f !important;
  }
}
.container {
  margin: 0 auto;
  max-width: 112rem;
  position: relative;
  width: 100%;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1%;
}
h1 {
  font-size: calc((--font-size * 1.2));
  font-weight: 600;
  line-height: 1.5em;
}
p {
  font-size: 14px;
  line-height: 1.75em;
}
